<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2><%= categoryDetails[0].category_name %></h2>

        <% if (user && user.role_name ==='admin') { %>
            <p><a href="/edit-category/<%= categoryDetails[0].category_id %>"> &#x270E; Edit Category</a></p>
        <% } %>
        
        <h3>Service Projects in this Category:</h3>
        <ul class="category-projects-list">
            <% projects.forEach(project => { %>
                <li><a href="/project/<%= project.project_id %>">➽ <%= project.title %></a></li>
            <% }); %>
        </ul>
    </main>
<%- include('partials/footer') %>