<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>

        <h2>Dashboard</h2>
        <p>Name: <%= name %></p>
        <p>Username: <%= email %></p>
        <p>Role: <%= role_name %></p>
        <p>Role Description: <%= role_description %></p>
    </main>
<%- include('partials/footer') %>