<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>
            <%= organizationDetails.name %>
        </h2>
        <p><a href="/edit-organization/<%= organizationDetails.organization_id %>"> &#x270E; Edit Organization</a></p>
        <img src="/images/<%= organizationDetails.logo_filename %>" alt="<%= organizationDetails.name %> logo">

        <p>Description: <%= organizationDetails.description %>
        </p>

        <h3>Service Projects</h3>
        <ul class="orgProjects-list">
            <% projects.forEach(project=> { %>
                <li><a href="/project/<%= project.project_id %>">
                    ➽ <%= project.title %> 
                    </a></li>
                <% }) %>
        </ul>
    </main>
<%- include('partials/footer') %>