<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <h2><%= projectDetails[0].title %></h2>
        
        <% if (user && user.role_name==='admin') { %>
            <p><a href="/edit-project/<%= projectDetails[0].project_id %>"> &#x270E; Edit Project Details </a></p>
        <% } %>

        <% if (user && user.role_name==='admin') { %>
            <p><a href="/assign-categories/<%= projectDetails[0].project_id %>"> &#x270E; Edit Categories </a></p>
        <% } %>

        <% if (user) { %>
            <% if (isVolunteer) { %>
                <form action="/project/<%= projectDetails[0].project_id %>/unvolunteer" method="POST">
                    <button type="submit">Unvolunteer</button>
                </form>
            <% } else { %>
                <form action="/project/<%= projectDetails[0].project_id %>/volunteer" method="POST">
                    <button type="submit">Volunteer</button>
                </form>
            <% } %>
        <% } %>
        
        <p>Description: <%= projectDetails[0].description %></p>
        <p>Date: <%= projectDetails[0].date.toDateString() %></p>
        <p>Location: <%= projectDetails[0].location %></p>
        <p>Organization: <a href="/organization/<%= projectDetails[0].organization_id %>"><%= projectDetails[0].name %></a></p>
    </main>
<%- include('partials/footer') %>