<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <h2>Upcoming Service Projects</h2>
        <ul>
            <% projects.forEach(project => { %>
                <li><strong><%= project.date.toDateString() %></strong> : <i><%= project.title %></i><br>(Organization : <%= project.name %>)<br><span><i>Description</i> : <%= project.description %></span> </li>
            <% }); %>
        </ul>
    </main>
<%- include('partials/footer') %>