<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <h2>List of Projects:</h2>
        <% if (user && user.role_name === 'admin') { %>
        <p><a href="/new-project"> + Add a New Service Project</a></p>
        <% } %>

        <ul class="projects">
            <% projects.forEach(project => { %>
                <li><strong><%= project.date.toDateString() %></strong> : <a href="/project/<%= project.project_id %>"><%= project.title %></a><br>(Organization : <%= project.name %>)<br><span><i>Description</i> : <%= project.description %></span> </li>
            <% }); %>
        </ul>
    </main>
<%- include('partials/footer') %>