<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <h2><%= projectDetails[0].title %></h2>
        
        <p><a href="/edit-project/<%= projectDetails[0].project_id %>"> &#x270E; Edit Project Details </a></p>
        <p><a href="/assign-categories/<%= projectDetails[0].project_id %>"> &#x270E; Edit Categories </a></p>

        <p>Description: <%= projectDetails[0].description %></p>
        <p>Date: <%= projectDetails[0].date.toDateString() %></p>
        <p>Location: <%= projectDetails[0].location %></p>
        <p>Organization: <a href="/organization/<%= projectDetails[0].organization_id %>"><%= projectDetails[0].name %></a></p>
    </main>
<%- include('partials/footer') %>