<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Your Projects:</h2>
        <% if (projects.length === 0) { %>
            <p>You are not currently volunteering for any projects.</p>
        <% } else {%>
            <p>Here are the projects you are currently volunteering for:</p>
            <ul class="projects">
            <% projects.forEach(project=> { %>
                    <li><strong>
                            <%= project.date.toDateString() %>
                        </strong> : <a href="/project/<%= project.project_id %>">
                            <%= project.title %>
                        </a>
                        <br><span><i>Description</i> : <%= project.description %></span>
                    
                    <% if (project.isVolunteer) { %>
                        <form class="volunteer-form" action="/unvolunteer" method="POST">
                            <input type="hidden" name="projectId" value="<%= project.project_id %>">
                            <button type="submit">Unvolunteer</button>
                        </form>
                    <% } else { %>
                        <form class="volunteer-form" action="/volunteer" method="POST">
                            <input type="hidden" name="projectId" value="<%= project.project_id %>">
                            <button type="submit">Volunteer</button>
                        </form>
                    <% } %>
                    </li>
            <% }); %>
            </ul>
        <% } %>
    </main>
<%- include('partials/footer') %>